@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), 
    url('../font/Roboto/Roboto-Regular.woff2') format('woff2'), 
    url('../font/Roboto/Roboto-Regular.woff') format('woff'), 
    url('../font/Roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
